@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
img,input,select,form,option{
    border: 0;
}
.headerBox,.headerBox input,.headerBox select{
    font-size: 12px;
    color: #969696;
    font-family: Microsoft Yahei,Simsun,Arial;
}
.headerBox .headerNav{
    width: 960px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}
.headerNav .h1{
    float: left;
    width: 279px;
    height: 90px;
    position: absolute;
    top: 0;
}
.headerNav h1 img{
    float: left;
    width: 183px;
    height: 70px;
    margin-top: 10px;
}
.headerNav h1 span{
    visibility: hidden;
}
.headerNav .formSearch{
    width: 465px;
    height: 40px;
    position: absolute;
    padding-top: 10px;
    top: 40px;
    left: 278px;
}
.headerNav .formSearch .formSelect{
    width: 80px;
    height: 20px;
    margin-right: 10px;
    padding: 4px 0 0 3px;
    background-image: url("../images/elements_nav_combine.gif");
    background-position: 0 -24px;
    float: left;
}
.headerNav .formSearch .formSelect select{
    width: 75px;
    height: 18px;
    outline: 0;
}
.headerNav .formSearch .formText{
    width: 290px;
    height: 20px;
    padding: 4px 0 0 3px;
    float: left;
    margin-right: 10px;
    background-image: url("../images/elements_nav_combine.gif");
    background-position: 0 0;
}
.headerNav .formSearch .formText input{
    width: 282px;
    height: 18px;
    outline: 0;
}
.headerNav .formSearch input[type="submit"]{
    width: 64px;
    height: 26px;
    float: left;
    text-indent: -9999px;
    background-image: url("../images/elements_nav_combine.gif");
    background-position: 0 -48px;
}
.headerNav .loginRegister {
    float: right;
    position: absolute;
    padding-top: 10px;
    top: 30px;
    right: 20px;
}
.headerNav .loginRegister p{
    line-height: 18px;
}
.headerNav .loginRegister p a{
    color: #ca1a00;
}
.headerNav .headerList{
    position: absolute;
    top: 10px;
    right: 0;
}
.headerNav .headerList li{
    float: left;
}
.headerNav .headerList li a{
    margin: 0 8px;
    color: #666666;
}


/*导航栏样式*/
.navBox{
    height: 48px;
    background-color: #3c404b;
}
.navBox ul{
    width: 980px;
    height: 48px;
    margin: 0 auto;
}
.navBox ul li{
    padding: 0 20px;
    margin: 0 5px;
    height: 48px;
    float: left;
    line-height: 48px;
}
.navBox ul li a{
    color: white;
    font-size: 16px;
}
.navBox ul li:hover{
    background-color: #ca1a00;
}


/*用户登录*/
.loginForm{
    height: 410px;
    margin-top: 20px;
    font-size: 12px;
    color: #333333;
}
.loginForm .inner a{
    color: #456da8;
    text-decoration: underline;
}
.loginForm .inner a:hover{
    background-color: #456da8;
    color: #FFFFFF;
}
.loginForm .login{
    width: 653px;
    margin: 0 auto;
    position: relative;
}
.loginForm .login .loginUser{
    background-image: url("../images/zc_4.gif");
    float: left;
    width: 180px;
    height: 70px;
}
.loginForm .login .loginTop{
    background-image: url("../images/zc_1.gif");
    width: 653px;
    height: 16px;
    position: absolute;
    top: 70px;
    left: 0;
}
.loginForm .login .loginCenter{
    background-image: url("../images/zc_3.gif");
    position: absolute;
    height: 240px;
    width: 653px;
    top: 86px;
    left: 0;
}
.loginForm .login .loginBottom{
    background-image: url("../images/zc_2.gif");
    position: absolute;
    top: 326px;
    left: 0;
    width: 653px;
    height: 16px;
}
.loginForm .login .inner{
    width: 360px;
    height: 174px;
    padding-top: 30px;
    margin: 0 auto;
    position: absolute;
    top: 116px;
    left: 145px;
}
.loginForm .login .inner li{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    margin-top: 10px;
}
.loginForm .login .inner input[type="text"]{
    border: 1px solid #cccccc;
    width: 162px;
    height: 18px;
    line-height: 18px;
    margin-right: 5px;
}
.loginForm .login .inner .innerLi3{
    padding-left: 50px;
}
.loginForm .login .inner .innerLi4{
    color: #969696;
    padding-left: 70px;
}
.loginForm .login .inner .innerLi5{
    padding-left: 100px;
}
.loginForm .login .inner .innerLi5 input{
    background-image: url("../images/dl.gif");
    text-indent: -9999px;
    width: 68px;
    height: 20px;
}
.loginForm .login .inner .innerLi5 a{
    margin-left: 100px;
}
.loginForm .login .loginFooter{
    width: 658px;
    height: 60px;
    margin: 10px auto;
    position: absolute;
    top: 340px;
    left: 0;
}
.loginForm .login .loginFooter a:hover{
    text-decoration: none;
}

/*底部样式*/
.footerLogin{
    height: 30px;
    line-height: 30px;
    margin: 50px auto;
    text-align: center;
}
.footerLogin .footerUl a{
    color: #000000;
    margin: 0 5px;
    font-size: 16px;
}
.footerLogin .footerUl .a3{
    color: #0044DD;
    text-decoration: underline;
}
