@charset "utf-8";
body{
    font-size: 14px;
    color: #333333;
}
a,a:hover,a:active,a:link,a:visited{
    color: #333333;
}
.navBox ul li:nth-child(2){
    background-color: #ca1a00;
}
.contentBox{
    height: 1330px;
    background-color: #cccccc;
}
.content{
    width: 950px;
    margin: 0 auto;
    color: #666666;
}
.content .contentNav{
    height: 20px;
    padding: 6px 10px;
    width: 930px;
    background:url("../images/header_nav2.gif") repeat-x;
    border: 1px solid #e2e4e4;
    text-align: left;
    line-height: 20px;
    font-size: 12px;
    color: #333333;
}
.content .contentNav a{
    color: #666666;
}
.content .musicBox{
    width: 100%;
    margin-top: 10px;
}
.content .musicBox .leftBox{
    background: url("../images/bg_01.gif") no-repeat -660px -10px;
    width: 140px;
    padding-top: 40px;
    float: left;
}
.content .musicBox .leftBox .left_01{
    background: url("../images/bg_02.gif") repeat-y -20px 0;
    width: 122px;
    padding: 0 9px 20px 9px;
    overflow: hidden;
}
.content .musicBox .leftBox .left_01>ul>li{
    width: 125px;
    background: url("../images/bg_03.gif") no-repeat center bottom;
    overflow: hidden;
    padding-bottom: 5px;
}
.content .musicBox .leftBox .left_01>ul>li a{
    margin-left: 30px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
}
.content .musicBox .leftBox .left_01>ul>li a:hover{
    color: #005ea7;
    font-weight: bold;
    width: 84px;
    height: 20px;
    padding-left: 38px;
    line-height: 21px;
    margin: 3px 0 0 0;
    background: url("../images/bg_01.gif") no-repeat -522px -38px;
}
.content .musicBox .leftBox .leftPop ol li a{
    width: 84px;
    height: 20px;
    background: url("../images/bg_01.gif") no-repeat -522px -55px;
    padding-left: 38px;
    line-height: 21px;
    margin: 3px 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}
.content .musicBox .leftBox .leftPop ol li a:hover{
    color: #005ea7;
    font-weight: bold;
    background: url("../images/bg_01.gif") no-repeat -522px -38px;
}
.content .musicBox .leftBox .leftPop .leftPop_01{
    width: 125px;
    height: 20px;
    background: url("../images/bg_01.gif") no-repeat -530px -10px;
}
.content .musicBox .leftBox .leftPop .leftPop_01 a{
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    background: none;
    padding-left: 30px;
}
.content .musicBox .leftBox .leftPop .leftPop_01 a:hover{
    color: #FFFFFF;
    background: none;
}
.content .musicBox .leftBox .left_02{
    width: 140px;
    height: 9px;
    background: url("../images/bg_01.gif") no-repeat -660px -61px;
}

/*右半部分*/
.content .rightCenter{
    float: right;
    width: 800px;
}
/*center*/
.content .rightCenter .centerBox{
    width: 520px;
    height: 565px;
    float: left;
    overflow: hidden;
}
.content .rightCenter .centerBoxFirst{
    float: left;
    padding: 10px;
    width: 500px;
    height: 305px;
    background: url("../images/bg_01.gif") no-repeat 0 -10px;
}
.content .musicH3{
    color: #000000;
    font-size: 14px;
    display:inline-block;
    margin-bottom: 5px;
}
.content .rightCenter .centerBox .centerBox_01{
    width: 500px;
    height: 190px;
}
.content .rightCenter .centerBox .centerBox_01 img{
    width: 170px;
    height: 170px;
    margin:5px 0 0 14px;
    float: left;
}
.content .rightCenter .centerBox .centerBox_01 ul{
    width: 290px;
    height: 170px;
    margin-left: 20px;
    padding: 10px 5px 10px 0;
    float: left;
}
.content .rightCenter .centerBox .centerBox_01 ul li{
    line-height: 25px;
    font-size: 12px;
    color: #000000;
}
.content .rightCenter .centerBox .centerBox_01 .musicName a{
    font-size: 14px;
    text-decoration: none;
}
.content .rightCenter .centerBox .centerBox_01 ul li a{
    color: #00478F;
    text-decoration: underline;
}
.content .rightCenter .centerBox .centerBox_01 ul li a:hover{
    color: #FFFFFF;
    background-color: #00478F;
}
.content .rightCenter .centerBox .centerBox_02{
    width: 500px;
    height: 100px;
}
.content .rightCenter .centerBox .centerBox_02 ul li{
    width: 80px;
    height: 80px;
    margin: 10px;
    float: left;
}
.content .rightCenter .centerBox .centerBox_02 ul li img{
    width: 70px;
    height: 70px;
    padding: 3px;
    background-color: #FFFFFF;
}
.content .rightCenter .centerBox .centerBox_02 .musicName01{
    width: 76px;
    height: 76px;
    border: 1px solid #999999;
    border-radius: 5px;
    overflow: hidden;
}
.content .rightCenter .centerBox .centerBox_02 ul li a:hover img{
    background-color: #00478F;
}
.content .rightCenter .centerBox .centerBox_02 .musicName01 a:hover img{
    background: none;
}

.content .rightCenter .centerBox .centerBoxSecond{
    width: 520px;
    height: 30px;
    float: left;
    padding: 0 10px;
    position: relative;
    background: url("../images/bg_01.gif") no-repeat 0 bottom;
    margin: 10px 0 0 0;
    font-size: 12px;
    color: #000000;
}
.content .rightCenter .centerBox .centerBoxSecond span{
    position: absolute;
    left: 33px;
    top: 8px;
}
.content .rightCenter .centerBox .centerBoxSecond #hotTen{
    height: 30px;
    overflow: hidden;
    position: relative;
}
.content .rightCenter .centerBox .centerBoxSecond ul{
    height: 300px;
    position: absolute;
    left: 95px;
    top: 0;
}
.content .rightCenter .centerBox .centerBoxSecond ul li{
    margin: 4px 0;
    height: 30px;
}
.content .rightCenter .centerBox .centerBoxSecond ul li a{
    color: #00478F;
}
/*.content .rightCenter .centerBox .centerBoxSecond ul li:nth-child(1){
    position: absolute;
    left: 95px;
    top: 8px;
    display: block;
}*/

.content .rightCenter .centerBox .centerBoxThird{
    width: 520px;
    padding: 0 10px 0 0;
    float: left;
    line-height: 25px;
    margin: 10px 0 0 0;
    height: 190px;
}
.content .rightCenter .centerBox .centerBoxThird .musicTit{
    background: url('../images/bg_01.gif') no-repeat 0 -340px;
    width: 500px;
    height: 27px;
    padding: 0 10px;
}
.content .musicTit span{
    font-size: 12px;
    float: right;
}
.content .musicTit span a{
    cursor: pointer;
    color: #396ab3;
    text-decoration: underline;
}
.content .musicTit span a:hover{
    color: #FFFFFF;
    background-color: #396ab3;
}
.content .musicDisk{
    width: 518px;
    height: 160px;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    background-color: #FFFFFF;
}
.content .musicDisk li{
    width: 107px;
    height: 146px;
    float: left;
    display: inline;
    margin: 10px 0 0 17px;
}
.content .musicDisk li a.musicImg{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #cccccc;
    padding: 3px;
    overflow: hidden;
}
.content .musicDisk li a.musicImg:hover{
    border-color: #396ab3;
}
.content .musicDisk li a img{
    width: 100px;
    height: 100px;
}
.content .musicDisk li p{
    width: 107px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    display: block;
    overflow: hidden;
}
.content .musicDisk li p a{
    font-size: 12px;
    text-decoration: underline;
    color: #396ab3;
    border: none;
}
.content .musicDisk li p a:hover{
    background-color: #396ab3;
    color: #FFFFFF;
}
.content .centerBox .centerBoxThird .musicEnd{
    width: 520px;
    height: 4px;
    background: url("../images/bg_01.gif") no-repeat 0 -367px;
    overflow: hidden;
}

.content .rightBox{
    width: 270px;
    height: 576px;
    float: right;
}
.content .rightBox .rightToday .rightTodayCenter{
    width: 250px;
    padding: 10px;
    overflow: hidden;
    background-color: #FFFFFF;
}
.content .rightBox h3{
    width: 270px;
    height: 27px;
    line-height: 24px;
    padding-left: 10px;
    margin: 0;
    background: url("../images/bg_01.gif") no-repeat -530px -74px;
}
.content .rightBox .rightToday a.todayDisk {
    width: 80px;
    height: 80px;
    float: left;
    display: block;
    padding: 3px;
    border: 1px solid #cccccc;
}
.content .rightBox .rightToday a img{
    width: 80px;
    height: 80px;
}
.content .rightToday ul{
    width: 130px;
    float: left;
    margin-left: 10px;
    color: #000000;
    font-size: 12px;
}
.content .rightToday ul li{
    line-height: 20px;
}
.content .rightBox ul li a.todayName{
    font-size: 14px;
    color: #4e89c5;
}
.content .rightBox ul li a.todaySinger{
    color: #4e89c5;
    text-decoration: underline;
}
.content .rightBox ul li a:hover{
    color: #FFFFFF;
    background-color: #396ab3;
}
.content .rightBox .rightTodayEnd{
    background: url("../images/bg_01.gif") no-repeat -530px -102px;
    width: 270px;
    height: 3px;
    overflow: hidden;
}

.content .rightBox .rightClassic{
    width: 270px;
    overflow: hidden;
    margin-top: 10px;
}
.content .rightBox .rightClassic .rightClassicCenter{
    padding: 10px;
    width: 250px;
    height: 366px;
    background-color: #FFFFFF;
}
.content .rightBox .rightClassic .rightClassicCenter .rightClassic_01{
    width: 244px;
    height: 78px;
    margin-bottom: 10px;
    overflow: hidden;
}
.content .rightBox .rightClassic .rightClassicCenter .rightClassic_01 .classicDisk{
    width: 70px;
    height: 70px;
    border: 1px solid #cccccc;
    display: block;
    padding: 3px;
    float: left;
}
.content .rightBox .rightClassic .rightClassicCenter .rightClassic_01 a:hover{
    border-color: #396ab3;
}
.content .rightBox .rightClassic .rightClassicCenter .rightClassic_01 img{
    width: 70px;
    height: 70px;
}
.content .rightBox .rightClassic .rightClassicCenter .rightClassic_01 ul{
    width: 150px;
    margin: 10px 0 0 10px;
    float: left;
    font-size: 12px;
    color: #000;
}
.content .rightBox .rightClassic .rightClassicCenter .rightClassic_01 ul li{
    line-height: 20px;
}

.content .rightBox .rightClassic .rightClassicUl li{
    width: 244px;
    height: 19px;
    line-height: 19px;
    background-color: #eff4fa;
    margin-bottom: 5px;
}
.content .rightBox .rightClassic .rightClassicUl li span{
    width: 190px;
    height: 18px;
    display: inline;
    float: left;
    overflow: hidden;
    margin-left: 5px;
}
.content .rightBox .rightClassic .rightClassicUl li span a{
    color: #4e89c5;
    font-size: 12px;
}
.content .rightBox .rightClassic .rightClassicUl li span a:hover{
    background-color: #eff4fa;
    text-decoration: underline;
}
.content .rightBox .rightClassic .rightClassicUl a.classicPlay{
    background:url("../images/mbg2.gif") no-repeat -70px -18px;
    float: right;
    width: 36px;
    height: 19px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.content .rightCenter .popular{
    width: 800px;
    height: 291px;
    float:left;
}

.popular .popularTop{
    width: 800px;
    height: 4px;
    background: url("../images/bg_01.gif") no-repeat 0 0;
    overflow: hidden;
}
.popular .popularCenter{
    width: 778px;
    overflow: hidden;
    padding: 10px;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    background-color: #FFFFFF;
}
.popular .popularCenter h3{
    width: 778px;
    height: 21px;
    padding: 2px 0 0 35px;
    line-height: 21px;
    font-size: 14px;
    color: #000000;
    background: url("../images/indebg_03.gif") no-repeat 8px 0;
}
.popular .popularCenter .leftPopular{
    width: 380px;
    height: 238px;
    margin-top: 3px;
    float: left;
    overflow: hidden;
}
.popular .popularCenter .leftPopular .popularImg{
    width: 150px;
    height: 230px;
    float: left;
    display: block;
    padding: 3px;
    border: 1px solid #DDDDDD;
}
.popular .popularCenter .leftPopular a img{
    width: 150px;
    height: 230px;
}
.popular .popularCenter .leftPopular a:hover{
    border-color: #00478F;
}
.popular .popularCenter .leftPopular ul{
    width: 130px;
    float: left;
    font-size: 14px;
    color: #000000;
    margin-left: 10px;
}
.popular .popularCenter .leftPopular ul li{
    line-height: 23px;
    height: 23px;
}
.popular .popularCenter .leftPopular ul li a{
    color: #396ab3;
}
.popular .popularCenter .leftPopular ul li a:hover{
    color: #FFFFFF;
    background-color: #396ab3;
}
.popular .popularEnd{
    background: url("../images/bg_01.gif") no-repeat 0 -4px;
    width: 800px;
    height: 4px;
    overflow: hidden;
}

/*音乐盒*/
.songBox{
    width: 800px;
    margin-top: 10px;
    height: 380px;
    overflow: hidden;
    float:left;
}
.songBox .songTop{
    width: 800px;
    height: 4px;
    background: url("../images/bg_01.gif") no-repeat 0 0;
}
.songBox .songTitle{
    width: 780px;
    height: 30px;
    padding: 10px 10px 0 10px;
    background-color: #FFFFFF;
}
.songBox .songTitle h3{
    background: url("../images/indebg_03.gif") no-repeat 8px 0;
    width: 300px;
    height: 30px;
    line-height: 27px;
    float: left;
    padding-left: 35px;
    font-size: 14px;
    color: #000000;
}
.songBox .songTitle span{
    height: 18px;
    float: right;
    margin:5px 10px 0 0;
}
.songBox .songTitle span a{
    color: #FFFFFF;
    text-decoration: none;
    line-height: 18px;
    font-size: 12px;
}
.songBox .songTitle span.songLists{
    width: 62px;
    text-align: center;
    background:url("../images/mbg2.gif") no-repeat -82px 0;
}
.songBox .songTitle span.songPlay{
    width: 82px;
    text-align: center;
    background:url("../images/mbg2.gif") no-repeat 0 0;
}
.songBox .songTitle span a:hover{
    text-decoration: underline;
}
.songBox .songCenter{
    width: 778px;
    height: 325px;
    padding: 0 11px;
    background-color: #FFFFFF;
}
.songBox .songCenter dt{
    width: 100%;
    height: 23px;
    background-color: #cccccc;
    font-size: 12px;
    color:#333333;
}
.songBox .songCenter dt span{
    float: left;
    display: inline-block;
    height: 23px;
    line-height: 23px;
}
.songBox .songCenter dt .dt_01{
    width: 22px;
    height: 22px;
    padding: 4px 0 0 4px;
}
.songBox .songCenter dt .dt_02{
    width: 273px;
    margin-left: 48px;
}
.songBox .songCenter dt .dt_03,.songBox .songCenter dt .dt_04{
    width: 153px;
    margin-left: 4px;
}
.songBox .songCenter dt .dt_05,.songBox .songCenter dt .dt_06{
    width: 30px;
    margin: 0 6px;
    text-align: center;
}
.songBox .songCenter dd{
    width: 778px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    border-bottom: 1px solid #EEEEEE;
}
.songBox .songCenter dd span{
    float: left;
}
.songBox .songCenter dd span a{
    font-size: 12px;
    float: left;
    color: #4e89c5;
}
.songBox .songCenter dd span a:hover{
    color: #FFFFFF;
    background-color: #4e89c5;
    border: none;
}
.songBox .songCenter dd .dd_01{
    width: 22px;
    height: 22px;
    padding: 4px 0 0 4px;
}
.songBox .songCenter dd .dd_02,.songBox .songCenter dd .dd_03{
    width: 22px;
    font-size: 14px;
    color: #333333;
}
.songBox .songCenter dd .dd_03 a{
    background: url("../images/mbg4.gif") no-repeat -15px 0;
    width: 14px;
    height: 14px;
    padding: 1px;
    display: block;
    margin-top: 5px;
}
.songBox .songCenter dd .dd_04{
    width: 275px;
}
.songBox .songCenter dd .dd_05,.songBox .songCenter dd .dd_06{
    width: 153px;
    margin-left: 3px;
}
.songBox .songCenter dd .dd_07,.songBox .songCenter dd .dd_08{
    width: 30px;
    height: 28px;
    margin: 2px 8px;
}
.songBox .songCenter dd .dd_07 a{
    background: url("../images/mbg4.gif") no-repeat -57px -1px;
    width: 15px;
    height: 15px;
    display: block;
    margin: 3px;
}
.songBox .songCenter dd .dd_08 a{
    background: url("../images/mbg4.gif") no-repeat -45px 0;
    width: 15px;
    height: 15px;
    display: block;
    margin: 3px;
}
.songBox .songCenter dd .dd_03 a:hover,.songBox .songCenter dd .dd_07 a:hover,.songBox .songCenter dd .dd_08 a:hover{
    border: 1px solid #4e89c5;
    background-color: #FFFFFF;
}
.songBox .songCenter dd .dd_04 .dd_tv{
    width: 15px;
    height: 15px;
    display: block;
    margin: 3px;
    cursor: pointer;
    float: left;
    background: url("../images/mbg4.gif") no-repeat -72px -1px;
}
.songBox .songCenter dd .dd_04 .dd_tv:hover{
    border: 1px solid #4e89c5;
}
.songBox .songBottom{
    background: url("../images/bg_01.gif") no-repeat 0 -4px;
    width: 800px;
    height: 4px;
}

/*底部样式*/
.footer{
    border-top: 1px solid #EEEEEE;
}
.footer .footerInner{
    width: 980px;
    margin: 0 auto;
    height: 50px;
    padding: 20px 0;
}
.footer .shgs{
    width: 47px;
    height: 47px;
    float: left;
    margin-right: 20px;
}
.footer .footerInfo{
    float: left;
}
.footer .footerInfo ul{
    height: 24px;
    line-height: 24px;
    width: 645px;
    overflow: hidden;
}
.footer .footerInfo ul li{
    float: left;
}
.footer .footerInfo ul li a{
    color: #333;
    margin: 0 8px;
    font-size: 12px;
}
.footer .footerInfo ul li a:hover{
    text-decoration: underline;
}
.footer .footerInfo p{
    float: left;
    color: #666;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    overflow: hidden;
}
.footer .footerRight{
    float: right;
    width: 186px;
    height: 53px;
}
.footer .footerRight li{
    width: 53px;
    height: 53px;
    float: left;
    margin: 0 4px;
}
